.element__like {
  margin: auto 15px auto 21px;
  background-image: url(../../../images/Vector.svg);
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  background-color: white;
  padding: 0;
  height: 18px;
  width: 21px;
  background-size: cover;
  border-radius: 0px;
}

.element__like:hover {
  opacity: 0.6;
}
