.content {
  margin: 40px auto 0;

  align-items: center;
  
}

@media screen and (max-width: 1023px) {
  .content {
    margin: 42px auto 0;
    max-width: 100%;
  }
}


@media screen and (max-width: 917px) {
  .content {
    max-width: 581px;
  }
}


@media screen and (max-width: 619px) {
  .content {
    /*margin-left: 19px;
    margin-right: 19px;*/
  }
}
@media screen and (max-width: 590px) {
  .content {
   
    max-width: 282px;
}
}