.profile__info {
  display: block;
  align-items: center;
  justify-content: space-between;
  max-width: 336px;
  min-width: 282px;
}

@media screen and (max-width: 917px) {
  .profile__info {
    max-width: 282px;
    text-align: center;
    margin: 22.25px auto 36px;
  }
}
